{% extends "layout.html" %}
{% block body %}

<div class='block1'>
  <h1>Hello {{name}}</h1>
    <h2>Here is an interesting quote for you: </h2>
    <p>
      {{quote}}
    </p>
  <img src="http://www.naturalprogramming.com/images/smilingpython.gif">
</div>
{% endblock %}  
